<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Recycling Home Page</title>

    {{!-- add scipts --}}
    <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.runtime.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

    {{!-- add CSS styling --}}
    <link rel="stylesheet" href="style.css">

  </head>
  <body>

    <header>
      <div class="header-image-container">
        <h1 class="site-title"><a href="/about">Recyclopse</a></h1>
    
        <div class="nav-links">
          <a class="navbar-items" href = "/about">About Us</a>
          <a class="navbar-items" href = "/customers">Customers</a>
          <a class="navbar-items" href = "/dropOffOrders">Drop-Off Orders</a>
          <a class="navbar-items" href = "/salesOrders">Materials Orders</a>
          <a class="navbar-items" href = "/wasteOrders">Waste Orders</a>
          <a class="navbar-items" href = "/wasteShipments">Waste Shipments</a>
          <a class="navbar-items" href = "/wasteLocations">Waste Locations</a>
        </div>
      </div>
    </header>
    
    <main class="content">
      <div id="about-page">
          <h2 class="welcome-head">Welcome!</h2>    
          <div class="welcome-left-h3">About Us</div>
          <p class="middle-par">
              Recyclopse is a recycling company that helps make recycling beneficial for everybody!
              We take in recyclable materials from companies, sort the recycling, 
              sell the recycled materials, and transport any excess waste.
              <br />
          </p>
          <div class="welcome-left-h3">What can I recycle?</div>
          <p class="middle-par">
              The three categories of recyclables are 
              <b>Bottles and Cans, Paper, and Cardboard</b>. 
              Anything that doesn’t belong in these bins should be placed in 
              the trash instead. See the detailed list below:
              <br />
          </p>
          <p class="welcome-left">
              <u>Bottles and Cans:</u>
              <ul class = "welcome-left-ul">
                  <li>Glass bottles and jars</li>
                  <li>Aluminum and Tin Cans</li>
                  <li>Plastic bottles (containers with narrow neck) and jugs (bottles with a handle)</li>
              </ul>
          </p>
          <p class="welcome-left-2">
            <b>Note:</b>
              Bottles and Cans should be emptied, washed, and dried. Caps should 
              be removed whenever possible. They must have contained food or beverages. 
              Glass containers from labs are not accepted. <br/>
              <br/>
        </p>
          <p class="welcome-left">
              <u>Paper:</u>
              <ul class="welcome-left-ul">
                  <li>Office paper, newspapers, junk mail and greeting cards, magazines</li>
                  <li>Paperback books, phone books, and notebooks (metal binding is accepted!)</li>
                  <li>Paper bags and packing paper</li>
                  <li>Paperboard (heavier, non-corrugated paper)</li>
              </ul>
          </p>
          <p class="welcome-left-2">
              <b>Not acceptable Paper products:</b>
              <ul class="welcome-left-ul-2">
              <li>Hardback books</li>
              <li>Cartons and aseptic containers</li>
              <li>Butcher paper</li>
              <li>Egg cartons</li>
              <li>Paper cups and plates</li>
              <li>Napkins and paper towels</li>
              <li>Note: Paper should be greater than 2x2 inches in size, otherwise it should be 
                   thrown away or composted if it is 100% paper. </li>
              </ul>
          </p>
          <p class="welcome-left">
              <u>Cardboard:</u>
              <p class="welcome-left-cb">
                  Only <b>Flattened, corrugated</b> cardboard is accepted. Contents must be emptied 
                  and the cardboard must not be contaminated with food and oil. Must be placed 
                  in a marked container <b>outside</b> your building, located near the dumpsters.
  
  
              </p>
          </p>
      </div>
  </main>
  </body>
</html>
